/* Custom Styles */
body {
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

/* NAVBAR */
.navbar {
  z-index: 2;
  top: 0;
}

.main {
  margin-top: 100px;
}


/* FOOD */
.food {
  position: relative;
  width: 100%;
  padding-top: 100%;

  cursor: pointer;
}

.food:hover .food__img{
  filter: brightness(.7);
}


.food__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  transition: filter 100ms ease-out;
}

.food__text {
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 100%;

  background-color: rgba(0, 0, 0, .5);
}

.food__name {
  margin: 0;
  color: #fff;
}

.heart {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;

  color: #f10d3e;
  font-size: 3em;
  line-height: 1rem;

  transition: transform 250ms ease-out;
}

.liked {
  transform: scale(1);
}

.unliked {
  transform: scale(0);
}